<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Irfan Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=REM:wght@300&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
  <style>
    .upperitem{
      display: flex;
    }
    .navbar-brand img{
      width: 4rem;
    height: 4rem;
    border-radius: 50%;
    }
    .upperitem img{
      width: 26rem;
    height: 26rem;
    margin-top: 4rem;
    margin-left: 10rem;
    border-radius: 50%;
    border: 2px solid #b12525;
    box-shadow: 7px 5px 3px 8px #b12525;
    transform: translateX(100%);
    animation:leftdraw 1s ease-in-out 1  forwards ;
    }
    @keyframes leftdraw {
      0%{
        translate: 0px;
      }
      100%{
transform: translateX(-10rem);
      }
    }
    
    .fw-bold {
      font-size: 4rem;
      font-family: 'REM', sans-serif;
      margin: 4rem 7rem;
      transform: translateX(-120%);
      animation: drawright 1s  ease-in-out  1  forwards ;
    }
    @keyframes drawright{
      0%{
   translate:0px;
      }
      100%{
       transform: translateZ(5rem);
    }
    }

    .para {
      margin: -4rem 7rem;
      font-family: 'REM', sans-serif;
      font-size: 1rem;
      color: #059ca7
    }

    .btnn {
      margin: -3rem 7rem;
      width: 7rem;
      height: 3rem;
      background-color: rgb(218, 18, 18);
      color: white;
    }
    .btnn:hover{
   color: rgb(218, 18, 18);
    background-color: white;
    border-radius: 14px;

    }

    .container {
      background-color: red;
      width: 22rem;
      height: 22rem;
    }

    .bigcontainer {
      display: flex;
    }

    .fs-2 {
      margin-left: 37rem;
      color: #ad2222;
      font-weight: 600;
    }

    .underline {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .upperitem span::before{
content: "";
animation: animate 8s  infinite  ;
    }
    @keyframes animate{
      0%{
        content: "web Developer";
        color: #ad2222;
      }
      25%{
        content: "Web Designer";
        color: #816565;
        
      }
      50%{
        content: "Backend Dev.";
        color: aqua;
      }
      75%{
        content: "MERN Developer";
        color: blueviolet;
      }
      100%{
        content: "FreeLancer";
        color: #059ca7;
      }
    }
    .upperitem span{
    
      
    }

    .left {
      width: 72px;
      border: 2px solid red;
      height: 3px;
      margin-top: -1rem;
      margin-left: -2rem;
      background-color: #ad2222;
      border-radius: 10px;
    }

    .right {
      width: 72px;
      /* border: 2px solid red; */
      height: 4px;
      margin-top: -1rem;
      margin-left: 0rem;
      background-color: #1c3db7;
      border-radius: 10px;
    }

    .aboutsection {
      display: flex;
    }

    .aboutsection p {
      margin-left: 6rem;
      font-family: 'REM', sans-serif;
      font-size: 16px;
      color: rgb(39, 36, 36);
      margin-top: 2rem;
      transition: ;
    }

    .image img {
      width: 23rem;
    height: 20rem;
    /* margin-bottom: 8rem; */
    margin-top: -2rem;
    margin-left: 8rem;
     
    }
    #myskill h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6f42c1;
      font-family: 'Fjalla One', sans-serif;
    }

    .skillset {
      margin: 2rem 14rem;
    }

    .html {
      display: flex;
      font-family: 'REM', sans-serif;
      font-size: 18px;
      font-weight: 500;
    }
.html p{
  font-size: 12px;
    margin-top: 9px;
    background-color: black;
    color: white;
    /* padding: 10px; */
    height: 17px;
    width: 53px;
}
    .brown {
      width: 11rem;
      height: 15px;
      background-color: rgb(250, 235, 33);
      margin: 10px 0rem;
      animation-name:html;
      animation-timing-function: ease-in-out;
      animation-duration: 4s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
      animation-iteration-count:1;
      animation-direction: alternate;
    }
    @keyframes html {
  from {
        width: 0px;
      }
      to {
        width: 11rem;
      }
      
    }

    .white {
      background-color: whitesmoke;
      height: 15px;
      width: 3rem;
      margin: 10px -1rem;
animation:htmlwhite 4s ease-in-out 0s 1 alternate forwards;
    }
    @keyframes htmlwhite {
      from{
        width: 0px;
      }
      to{
        width: 3rem;
      }
    }

    .white p {
      font-size: 13px;
      float: right;
      margin: -3px 3px;
      font-weight: 500;
    }

    .css {
      display: flex;
      font-family: 'REM', sans-serif;
      font-size: 18px;
      font-weight: 500;
    }
    .css p{
      font-size: 12px;
    margin-top: 9px;
    background-color: black;
    color: white;
    /* padding: 10px; */
    height: 17px;
    width: 53px;
    }
    .brownc{
       width: 10rem;
      height: 15px;
      background-color: rgb(250, 235, 33);
      margin: 10px 0px;
        animation:brownam 4s ease-in-out 0s 1 alternate forwards;
      }
      @keyframes brownam {
        from{
          width: 0px;
        }
        to{
          width: 10rem;
        }
      }

    .whitec {
      background-color: whitesmoke;
      /* border: 1px solid red; */
      height: 15px;
      width: 4rem;
      margin: 10px -3rem;
      animation:whitec 4sec ease-in-out 0s 1 alternate forwards;
    }
    @keyframes whitec {
      from{
        width:0px;
      }
      to{
        width:4rem;
      }
    }
    .whitec p {
      font-size: 13px;
      float: right;
      margin: -3px 3px;
      font-weight: 500;

    }

    .js {
      display: flex;
      font-family: 'REM', sans-serif;
      font-size: 18px;
      font-weight: 500;
    }

    .brownj {
      width: 8rem;
      height: 15px;
      background-color: rgb(250, 235, 33);
      margin: 10px 0rem;
       animation:brownjs 4s ease-in-out 0s 1 alternate forwards;
      }
      @keyframes brownjs {
        from{
          width: 0px;
        }
        to{
          width: 8rem;
        }
      }

    .whitej {
      background-color: whitesmoke;
      /* border: 1px solid red; */
      height: 15px;
      width: 6rem;
      margin: 10px -3rem;
       animation:whitejs 4s ease-in-out 0s 1 alternate forwards;
      }
      @keyframes whitejs{
        from{
          width: 0px;
        }
        to{
          width: 6rem;
        }
      }
     .js p{ font-size: 12px;
    margin-top: 9px;
    background-color: black;
    color: white;
    /* padding: 10px; */
    height: 17px;
    width: 53px;
     }
    .whitej p {
      font-size: 13px;
      float: right;
      margin: -3px 3px;
      font-weight: 500;

    }

    .backend {
      display: flex;
    justify-content: space-around;
    }
    .framework{
      display: flex;
      flex-direction: column;
    font-family: 'REM', sans-serif;
    }
    .framework h2{
      color: #2d0774;
      font-size: xx-large;
      font-weight: 800;
    }
    .mern{
      display: flex;
      flex-direction: column;
font-family: 'REM', sans-serif;
    }
    .mern h2{
      color: chocolate;
      font-size: xx-large;
      font-weight: 800;
    }
    .servicess{
      display: grid;
      grid-template-columns: 19rem 19rem 19rem 19rem;
      margin: 2rem 8rem;
    }
    .underlines{
      width: 7rem;
    height: 4px;
    background-color: #036042;
    /* display: flex; */
    opacity: 0.6;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 39rem;
    border-radius: 10px;
    }
    .serviceheading{
      text-align:center;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      color: #059ca7;
      animation: wiggle 4s infinite linear ;
    }
    @keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
    .grid-item{
    margin: 2px;
    text-align: center;
    height: 12rem;
    background-color: #c6ddc67a;
    
}

.grid-item:hover{
  background-color:blue;
  color: white;
  opacity: 0.6;
  animation: wiggles 4s infinite linear ;
}

    @keyframes wiggles {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

  .imgs img{
    width: 2rem;
    height: 2rem;
  }  
  .mb-4{
    padding: 2rem;
    background-color: rgba(31, 173, 173, 0.897);
    color: #816565;
  }
.footer{
  display: flex;
  justify-content: space-around;
  background-color: rgb(15, 15, 15);
  color: white;
 font-family: HelveticaNowMTText,Lucida Sans,Lucida Grande,Lucida Sans Unicode,Trebuchet MS,sans-serif;
    font-size: 13px;
}
.socialmedia a{
  color: white;
  margin: 5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 23px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form label{
  text-align: right;
  margin-right: 22rem;
}
#mytext{
  width: 29rem;
    border-radius:35px;
    height: 2.5rem;
    padding: 10px 10px;
}
#myemail{
   width: 29rem;
    border-radius:35px;
    height: 2.5rem;
    padding: 10px 10px;
}
#mysubject{
   width: 29rem;
    border-radius: 35px;
    height: 2.5rem;
    padding: 10px 10px;
}
#mytextarea{
  width: 24rem;
    height: 11rem;
    border-radius: 10px;
    padding: 10px 10px;
}
#mybtn{
  width: 5rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #934c4c;
    color: #edcece;
    font-size: 16px;
}
.navbar-brand{
font-family: 'Tilt Prism';
}
#logo {
  border: 2px solid white;
    height: 26px;
    width: 26px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 50%;
}
 span {
  color: #059ca7;
}

    @media(max-width:820px) {
      .upperitem {
        display: flex;
        flex-direction: column;
      }
      .upperitem img{
        width: 17rem;
    height: 17rem;
    margin-top: -4rem;
    margin-left: 2rem;
    border-radius: 50%;
    border: 2px solid #b12525;
    box-shadow: 7px 5px 3px 8px #b12525;
    animation:leftdraw 1s ease-in-out 1 forwards ;
      }
      @keyframes leftdraw {
        0%{
          translate: 0px;
        }
        100%{
          translate: -16rem;
        }
      }
      .fw-bold {
        margin: 5rem 2rem;
        font-size: 3rem;
        animation:rightdraw 1s ease-in-out 1 forwards ;
      }
      @keyframes rightdraw {
        0%{
          translate: 0px;
        }
        100%{
          translate:26rem;
    
        }
      }
      .para {
        margin: 4rem 0rem;
        font-size: 2rem;
       padding: 1rem 2rem;
      }

      .btnn {
        margin: 20px 74px;
    font-size: 2rem;
    width: 13rem;
    height: 5rem;

      }

      .fs-2 {
        margin-left: 7rem;
        margin-top: 4rem;
      }

      hr {
        margin: 3rem 0;
        border: 0;
        border-top: 1px solid;
        opacity: 3.25;
      }

      .aboutsection {
        display: flex;
        flex-direction: column;
      }

      .aboutsection p {
        margin-left: 1rem;
        font-size: 30px;
      }

      .image  img{
       width: 23rem;
    height: 20rem;
    /* margin-bottom: 8rem; */
    margin-top: 1rem;
    margin-left: 0rem;
      }

      .skillsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
       .backend {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .framework span{
       display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 4rem;
      text-decoration-style: solid;
    }
    .mern span{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 4rem;
    }
    .mern p{
      font-size: 24px;
    }
    .text-center{
      font-size: 26px;
    }
    #mytext{
      width: 24rem;
    border-radius: 35px;
    height: 3.5rem;
    font-size: 1.5rem;

    }
    #myemail{
      width: 24rem;
    border-radius: 35px;
    height: 3.5rem;
    font-size: 1.5rem;

    }
    #mysubject{
       width: 24rem;
    border-radius: 35px;
    height: 3.5rem;
    font-size: 1.5rem;
    }
    .footer{
      display: flex;
    justify-content: space-around;
    background-color: rgb(3, 3, 3);
    color: white;
    flex-direction: column;
    padding: 2rem;
    font-size:24px;
    }
    label{
     font-size: 25px;
    /* font-family: 'REM'; */
    font-weight: 500;
    margin-left: 5rem;
    }
    .servicess{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .grid-item{
     height: 14rem;
    width: 20rem;
    border-radius: 10px;
    border: none;
     animation: wigglesw 4s infinite linear ;
    }
     @keyframes wigglesw {
  0%, 7% {
    transform: rotateZ(0);
    color: #059ca7;
  }
  15% {
    transform: rotateZ(-15deg);
    color: #059ca7;
  }
  20% {
    transform: rotateZ(10deg);
    color: #059ca7;
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
    color: #059ca7;
  }
  35% {
    transform: rotateZ(-4deg);
    color: #059ca7;
  }
  40%, 100% {
    transform: rotateZ(0);
    color: #059ca7;
  }
}

    .grid-item:hover{
  background-color:blue;
  color: white;
  opacity: 0.6;
 
}
 .imgs h5{
      color: black;
      font-size: 1.5rem;
    }
    .imgs p{
      font-size: 1rem;
    }
    .underlines{
      width: 7rem;
    height: 4px;
    background-color: #036042;
    /* display: flex; */
    opacity: 0.6;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 9rem;
    border-radius: 10px;
}
#logo{
border: 2px solid white;
    height: 42px;
    width: 42px;
    width: 37px;
    margin-top: 1rem;
    text-align: center;
}

    }

   
    
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://i.ytimg.com/vi/iiyQ8F9Sg_Q/maxresdefault.jpg?sqp=-oaymwEoCIAKENAF8quKqQMcGADwAQH4AbYIgALECooCDAgAEAEYDyBlKGEwDw==&rs=AOn4CLCiXglaOH9Wx28WNhoq-31Avseq8Q" alt="" srcset=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#myskill">Skill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#myservices">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mycontact"><button class="btn btn-primary" type="submit">Contact</button></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="upperitem">
    <div class="upperitenleft">
  <p class="fw-bold">Hy ! I Am <br>Irfan Rafee I'm <span></span></p>
  </div>
  <div class="upperitemrigt">
    <img src="https://pps.whatsapp.net/v/t61.24694-24/291494228_431480668875104_7175860955078126937_n.jpg?ccb=11-4&oh=01_AdRAQl5KNrB0y6zXum84MQqgs6jlaHgdMYIIyb_12xQ7ww&oe=650E8943&_nc_sid=000000&_nc_cat=100" alt="" srcset="">
  </div>
  </div>
  <div class="d-grid gap-2 d-md-block">
  <a href="#mycontact">  <button class="btnn" type="submit">Hire Me</button>
 </a> </div>
  <hr>
  <p class="fs-2" id="about">About Me</p>
  <div class="underline">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="aboutsection">
    <p>Passionate web developer skilled in crafting immersive online experiences <br>through a fusion of innovative
      design and cutting-edge technology.<br> Dedicated to translating ideas into dynamic websites that engage users
      <br>and leave a lasting impact.Let's collaborate to bring your digital vision to life.
    </p>
    <div class="image"><img src="https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg"
        alt="error loading..." srcset=""></div>
  </div>
  <hr>
  <div class="skillsection" id="myskill">
    <h2>My Skills</h2>
    <div class="skillset">
      <h3>Front End:</h3>
      <div class="html" ><p>HTML:5</p>
        <div class="brown"></div>
        <div class="white"></div>
        </div>
      <div class="css"><p>CSS</p>
        <div class="brownc"></div>
        <div class="whitec">
        </div>
      </div>
      <div class="js"><p>JS</p>
        <div class="brownj"></div>
        <div class="whitej">
        </div>
      </div>
    </div>
  </div>
  <div class="backend">
    <div class="framework">
      <h2>Frameworks</h2>
      <span><i class='bx bxl-bootstrap' ></i></span>
      <span><i class='bx bxl-react' ></i></span>
    </div>
    <div class="mern">
      <h2>Backend And Data Base </h2>
      <span><i class='bx bxl-nodejs' ></i></span>
      <span> <p>Express Js</p></span>
      <span><i class='bx bxl-react' ></i></span>
      <span><i class='bx bxl-mongodb' ></i></span>
      <span><p>Rest API</p></span>
           </div>
       </div>
    </div>
    <hr>
    {{!-- services <section></section> --}}
    <div class="serviceheading"  id="myservices">My Services
      <div class="underlines"></div>
    </div>
    <div class="servicess">
      <div class="grid-item"> 
        <div class="imgs"><img src="https://w7.pngwing.com/pngs/738/965/png-transparent-web-development-web-design-software-development-web-developer-web-design-blue-angle-web-design-thumbnail.png" alt="" srcset="">
      <h5> webdesign</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error commodi hic nihil cumque molestiae sunt, quia, nisi dolores iste itaque cupiditate aut earum in porro expedita natus nam, rem ea!</p></div>
      </div>
      <div class="grid-item"> 
        <div class="imgs"><img src="https://w7.pngwing.com/pngs/738/965/png-transparent-web-development-web-design-software-development-web-developer-web-design-blue-angle-web-design-thumbnail.png" alt="" srcset="">
      <h5>Freelancing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error commodi hic nihil cumque molestiae sunt, quia, nisi dolores iste itaque cupiditate aut earum in porro expedita natus nam, rem ea!</p></div>
      </div>

      <div class="grid-item">
        <div class="imgs"><img src="https://w7.pngwing.com/pngs/738/965/png-transparent-web-development-web-design-software-development-web-developer-web-design-blue-angle-web-design-thumbnail.png" alt="" srcset="">
      <h5>Backend Development</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error commodi hic nihil cumque molestiae sunt, quia, nisi dolores iste itaque cupiditate aut earum in porro expedita natus nam, rem ea!</p></div>
      </div>
      <div class="grid-item">
        <div class="imgs"><img src="https://w7.pngwing.com/pngs/738/965/png-transparent-web-development-web-design-software-development-web-developer-web-design-blue-angle-web-design-thumbnail.png" alt="" srcset="">
      <h5> UI/UX</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error commodi hic nihil cumque molestiae sunt, quia, nisi dolores iste itaque cupiditate aut earum in porro expedita natus nam, rem ea!</p>
      </div>
      </div>
    </div>
    <!--Section: Contact v.2-->
<section class="mb-4" id="mycontact">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
<form action="/index" method="post">
<div class="form">
  <label for="mytext">  Name</label>
 <div class="name"><input type="text" name="name" id="mytext"></div>
  <label for="myemail">  Email</label>
  <div class="email"><input type="email" name="email" id="myemail"></div>
  <label for="mysubject">Subject</label>
  <div class="sub"><input type="text" name="subject" id="mysubject"></div>
  <label for="mytextarea">Message</label>
  <div class="msg"><textarea name="message" id="mytextarea" ></textarea></div>
<div class="btn"><input type="submit" value="Send" id="mybtn"></div>
</div>
</form>
    
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Srinager,Larmooh Aawantipora
                    </p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>Phone: <a href="tel:6006377725">6006377725</a></p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p><a href = "mailto: idar5932@gmail.com">idar5932@gmail.com</a></p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>

<footer class="footer" id="myfooter">
  <div class="contact">
  <div class="call">Call Us On <a href="tel:6006377725">6006377725</a></div>
  <div class="email">our email is: <a href="mailto:idar5932@gmail.com">idar5932@gmail.com</a></div>
  <div class="socialmedia">
   <a href="https://facebook.com"><i class='bx bxl-facebook-circle'></i></a>
 <a href="https://instagram.com"> <i class='bx bxl-instagram' ></i></a>
 <a href="https://twitter.com"><i class='bx bxl-twitter' ></i></a>
 <a href="https://linkedin.com"><i class='bx bxl-linkedin-square' ></i></a>
  </div>
  <div class="locaton"><p> Srinager,Larmooh Awantipora </p></div>
  </div>
  
  <div class="copyright">
    <div class="circle">
      <p id="logo">c</p>
      <span>Copyright Irfan Rafee.All Rights Reserved</span>
      <p id="design">Designed By <span>Irfan Rafee</span></p>
    </div>
  </div>
</footer>
 
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>